.sidebar{
  height: 550px;
  background-color: rgba(15, 15, 15, 1);
  padding-top: 20%;
}
.features{
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  row-gap: 80px;
  margin-left: 25px;
}
.feature{
  text-decoration: none;
  font-size: 20px;
  color: white;
  
}