.group{
  display: grid;
  grid-template-areas:
                        'news header gallery'
                        'news header gallery'
                        'news posts gallery'
                        'news posts gallery';

  justify-items: center;
                        
                        
}



.header{
  grid-area: header;
  
  margin-top: 20px;
  margin-bottom: 50px;
}
.header_image_container{
  margin-bottom: 10px;
  width: 791px;
  height: 116px;
  background-color: red;
}
.header_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  background-color: rgba(196, 196, 196, 1);
  width: 791px;
  height: 155px;
  padding: 10px;
}

.leftSide{}
.group_name{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}
.group_moto{
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
}
.group_description{
  font-size: 12px;
  line-height: 15px;
}

.rightSide{
  display: grid;
  grid-template: 20px / 1.5fr 1fr;
  justify-items: end;
}
.group_subscribers{
  font-size: 14px;
}
.subscribe_button{
  background-color: rgba(15, 15, 15, 1);
  color: white;
  width: 86px;
}





.newsList{
  grid-area: news;
  width: 150px;
  margin-top: 150px;
}
.newsList_title{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.news{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: white;
}




.posts{
  grid-area: posts;
  width: 576px;
}
.post{
  background-color:rgba(196, 196, 196, 1);
  margin-bottom: 30px;
  padding: 2%;
}
.post_header{
  display: grid;
  grid-row-gap: 5px;
  grid-template-areas: 
                      'avatar author'
                      'avatar date';
  grid-template-columns: 10% 90%;
  
}
.post_avatar_container{
  grid-area: avatar;
  width: 50px;
  height: 50px;
  border-radius: 25%;
}
.post_avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.post_author{
  grid-area: author;
  align-self: end;
  font-size: 12px;
  
}
.post_date{
  grid-area: date;
  align-self: start;
  font-size: 10px;
  
}
.post_image{
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.post_text{
  font-size: 16px;
  margin: 0 auto;
  width: 95%;
}





.gallery{
  grid-area: gallery;
  margin-top: 150px;
  width: 150px;
}
.gallery_title{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.gallery_image{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}