.profile {
  padding: 30px 30px 30px 0;
  min-height: 100%;
  background-color: rgba(225, 222, 222, 1);

  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 4fr;
  grid-template-areas: "avatar title"
                       "avatar posts"
                       "sidebar posts"
                       "sidebar posts"
                       "sidebar posts";

  row-gap: 5px;
  column-gap: 90px;
}

.avatar{
  grid-area: avatar;
  
}
.title{
  grid-area: title;
}
.sidebar{
  grid-area: sidebar;
  
}
.posts{
  grid-area: posts;
}