.wrapper {
  display: grid;
  width: 1200px;
  height: 2000px;
  margin: 0 auto;

  

  grid-template: 75px 1fr / 1fr;
  /* grid-gap: 10px; */

  
}
.header{
  grid-row-start: 1;
  background-color: rgba(15, 15, 15, 1);
}
.profile{
  grid-row-start: 2;
  background-color: rgba(225, 222, 222, 1);
}